@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
.container.boxes {
  display: flex;
  // justify-content: center;
  .box {
    width: 424px;
    height: 536px;
    // flex-shrink: 0;
    border-radius: 8px;
    p {
      /* CAPS LOCK/Medium Caps Lock */
      font-size: 14px;
      font-weight: 500;
      line-height: 100%; /* 14px */
      letter-spacing: 0.42px;
      text-transform: uppercase;
      margin: 0;
      margin-top: 35px;
    }
    h1 {
      font-size: 40px;
      font-weight: 600;
      line-height: 120%;
      margin: 0;
      margin-top: 16px;
    }
    h3 {
      margin: 0;
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 36px */
      margin-top: 8px;
      display: flex;
      justify-content: center;
    }
    button {
      display: inline-flex;
      padding: 14px 32px;
      justify-content: center;
      align-items: center;
      gap: 12px;
      border-radius: 43px;
      background: var(--gray-scale-white, #fff);
      border: none;
      margin-top: 24px;
    }
  }
  .one {
    background-image: url("../../public/images/Rectangle1.png");
    color: #fff;
    font-family: Poppins;
    font-style: normal;
    text-align: center;
  }
  .two {
    background: url("../../public/images/Rectangle2.png");
    color: #fff;
    font-family: Poppins;
    font-style: normal;
    text-align: center;
    h3 {
      display: flex;
      align-items: center;
      gap: 8px;
      span {
        color: var(--branding-warning, #ff8a00);
        text-align: center;
        /* Body XL/Body XL, 600 */
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 30px */
      }
    }
  }
  .three {
    background-image: url("../../public/images/Rectangle3.png");
    color: #1a1a1a;
    font-family: Poppins;
    font-style: normal;
    text-align: center;
    h3 {
      display: flex;
      align-items: center;
      gap: 12px;
      span {
        color: #fcc900;
        border-radius: 5px;
        background: var(--gray-scale-gray-900, #1a1a1a);
        display: flex;
        padding: 6px 12px;
        align-items: flex-start;
        gap: 10px;
      }
    }
    button{
      margin: 10px;
    }
  }
}
