.categories {
  .container {
    width: 1320px;
    margin: 24px auto;
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 32px;
    }
    .popularCategories {
      display: grid;
      grid-template-columns: auto auto auto auto auto auto;
      gap: 24px;
      .popularCategoria {
        border-radius: 5px;
        border: 1px solid var(--gray-scale-gray-100, #e6e6e6);
        display: grid;
        justify-content: center;
        text-align: center;
        padding: 16px 0;
        &:hover {
          box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
        }
        img {
          width: 190px;
          height: 130px;
          margin-bottom: 24px;
        }
      }
    }
  }
}
@media ((min-width: 1024px) and (max-width:1280px)) {
  .categories {
    .container {
      .popularCategories {
        display: grid;
        grid-template-columns: auto auto auto auto;
        .popularCategoria {
        }
      }
    }
  }
}
@media ((min-width: 640px) and (max-width:1023px)) {
  .categories {
    .container {
      .popularCategories {
        display: grid;
        grid-template-columns: auto auto auto;
      }
    }
  }
}
@media (max-width: 639px) {
  .categories {
    .container {
      width: 95%;

      .popularCategories {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        .popularCategoria {
        }
      }
    }
  }
}
@media (max-width: 440px) {
  .categories {
    .container {
      .title {
        display: grid;
        text-align: center;
        justify-content: center;
        button {
          width: 60%;
          margin: 0 auto;
        }
      }
      .popularCategories {
        display: grid;
        grid-template-columns: auto;
        .popularCategoria {
        }
      }
    }
  }
}
