.navbar {
  .navbar-container {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    .logo {
      display: flex;
      align-items: center;
      gap: 8px;
      p {
        color: var(--gren-gray-scale-900, #002603);
        font-family: Poppins;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 38px;
        letter-spacing: -0.96px;
        margin: 0;
      }
    }
    form {
      display: flex;
      position: relative;
      display: none;
      // width: 200px;
      input {
        // width: 100%;
        // width: 400px;
        // width: auto;
        border: 1px solid #808080;
        outline-color: #1a1a1a;
        border-right: none;
        padding: 10px 10px 10px 30px;
        border-radius: 6px 0 0 6px;
      }
      button {
        border: none;
        background-color: #00b207;
        border-radius: 0 6px 6px 0;
        color: var(--gray-scale-white, #fff);
        padding: 14px 24px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        font-family: poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
      }
      .lupa {
        position: absolute;
        top: 10px;
        left: 5px;
        outline-color: #1a1a1a;
        stroke: #1a1a1a;
      }
    }
    .shooping__cart {
      display: flex;
      align-items: center;
      gap: 16px;
      position: relative;
      .devider {
        width: 1px;
        height: 24px;
        background: #ccc;
      }
      .num {
        width: 18px;
        height: 18px;
        // height: auto;
        background-color: #2c742f;
        border-radius: 50%;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 91px;
      }
      .price {
        display: grid;
        gap: 7px;
        p {
          color: var(--gray-scale-gray-700, #4d4d4d);
          font-family: poppins;
          font-size: 11px;
          font-style: normal;
          font-weight: 400;
          line-height: 120%; /* 13.2px */
          //   padding: 0;
          margin: 0;
        }
        span {
          color: var(--gray-scale-gray-900, #1a1a1a);
          font-family: poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 100%; /* 14px */
        }
      }
    }
  }
}
@media (min-width: 1024px) {
  .navbar {
    .navbar-container {
      display: flex;
      justify-content: space-between;
      svg {
        width: 25px;
        height: auto;
      }
      .logo {
        p {
          font-size: 25px;
        }
      }
      form {
        display: flex;
        position: relative;
        // width: auto;
        input {
          width: 400px;
          // width: auto;
          // width: 50px;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .navbar {
    .navbar-container {
      form {
        // display: none;
        display: flex;
        position: relative;
      }
    }
  }
}
@media (max-width: 640px) {
  .navbar {
    .container {
      max-width: 95%;
      margin: 0 auto;
      .logo {
        p {
          font-size: 20px;
        }
      }
      .shooping__cart {
        display: flex;
        position: relative;
        .price {
          display: none;
        }
        .num{
          position: absolute;
          top: 0px;
          right: 0;
        }
        .devider {
          display: none;
        }
      }
    }
  }
}
